/*::::::TAGS: :::::::*/
body{
	font-family: 'Poppins', sans-serif;
}
h1{
	font-family: 'Poppins', sans-serif;
	font-size: 3rem;
	line-height: 1.5;
	letter-spacing: 2px;
	font-weight: 900;
	/* color:#33a1fd; */
	color:#fff;

}
h3{
	font-size: 1.5rem;
}
/*::::::ID: :::::::*/

/*--title--*/
#title{
	/* background-image: url(../images/white-waves.png); */
	background-color:#f4a261;

}


/*::::::CLASS: :::::::*/
/*heading*/

/* .shift{
	padding:0 15%;
} */
.head{
	font-family: 'The Nautigal', cursive;
	font-weight: 700;
	font-size: 3.8rem;
    color:#c71b57;
		border:5px solid pink;
		padding:0 10px;
		border-radius:5%;
}
/*header*/
 .container-fluid{
	width:80%;
}
.nav-link{
	color:#fff;
}

.navbar-nav {
margin-left:50%;
/* margin-left:700px; */
	/* padding:10px; */
}
.nav-item{
 padding:0 18px;
 text-align:right;
}
.carousel{
text-align: center;

}

.icecream{
	transform:rotate(20deg);
margin-left:80px;
	  box-shadow: 5px 10px #a2d2ff;

}

/* features */


.img-pos{
	width:108%;
}

h3:hover{
    color:blue;
		cursor:pointer;
}

/*::::::TAGS: :::::::*/
/*footer*/
footer{
	padding: 0 30px;
}

 hr{
	width: 100%;
	border:0;
	border-top: 1px solid #b3e6c8;
}

.footer-row{
	padding: 30px 0;
	display: flex;
	/*align-items: center;*/
	flex-flow: row wrap;
	justify-content: space-between;
}

.footer-left-col{
  flex-basis: 60%;
}

.footer-right-col{
	flex-basis: 40%;
}

.footer-txt{
	padding: 30px 0;
	display: flex;
	/*align-items: center;*/
	flex-flow: row wrap;
	justify-content: space-between;
}
.link-txt{
	flex-basis: 25%;
}

.link-txt h4{
	margin-bottom: 15px;
	color:#b3e6c8 ;
	font-weight: bold;
	text-shadow: 1px -1px grey;
}
small{
	color: #9d8189;
}
.footer-r-txt{
	display: flex;
	align-items: center;
	flex-flow: row wrap;
	justify-content: space-between;
}
.footer-r-logo{
	margin-top: 30px;
	flex-basis: 50%;
}

.footer-right-col img{
	width: 100px;
}

.footer-left-col{
  flex-basis: 100%;
}

.footer-right-col{
	flex-basis: 100%;
}
